<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIReplay.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="PIReplay.Settings.Advanced" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <PIReplay.Settings.General>
      <setting name="BasicTasksSchedule" serializeAs="String">
        <value>0/10 * * * * ?</value>
      </setting>
      <setting name="ReplayTimeOffsetDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="BackFillHoursPerDataChunk" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TagsChunkSize" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="DataCollectionFrequencySeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>pidemo2016</value>
      </setting>
      <setting name="TagQueryString" serializeAs="String">
        <value>tag:=simulator.random.*</value>
      </setting>
    </PIReplay.Settings.General>
    <PIReplay.Settings.Advanced>
      <setting name="StartDebuggerOnStart" serializeAs="String">
        <value>False</value>
      </setting>
    </PIReplay.Settings.Advanced>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>
