<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIReplay.Settings.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIReplay.Settings.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <PIReplay.Settings.GUI.Settings>
      <setting name="SettingsPath" serializeAs="String">
        <value>PIReplayService.exe.config</value>
      </setting>
      <setting name="SettingsCommentsPath" serializeAs="String">
        <value>SettingsComments.ini</value>
      </setting>
      <setting name="LogViewerExe" serializeAs="String">
        <value>Baretail.exe</value>
      </setting>
      <setting name="ServiceLogFileNameForLogViewer" serializeAs="String">
        <value>PIReplayService.Log</value>
      </setting>
    </PIReplay.Settings.GUI.Settings>
  </userSettings>
  <applicationSettings>
    <PIReplay.Settings.GUI.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>PIReplayService</value>
      </setting>
    </PIReplay.Settings.GUI.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
